.footer {
    padding: 5rem 20px 0 20px;
    background-color: rgb(37, 36, 36);
    color: white;
    bottom: 0;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
}

.brand_logo_f {
    max-width: 200px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.fmain_content {
    border-top: 1px solid grey;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 auto;
}

.f_nav {
    margin-top: 40px;
    background-color: rgb(37, 36, 36);
}

.f_navbar {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    padding: 3rem 20px;
    margin: 0 auto;
    gap: 20px;
}

.f_navbar li {
    font-size: 1.5rem;
    opacity: 0.6;
}

.f_navbar li:hover {
    opacity: 1;
}

.f_copyright {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.f_text {
    font-size: 15px;
}

.f_text span {
    cursor: pointer;
}

.f_text span:hover {
    color: orangered;
}

.f_brands {
    font-size: 15px;
    display: flex;
    gap: 1rem;
}

.f_brands i {

    cursor: pointer;
}

.f_brands i:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
}

.footer-icon {
    max-width: 80px;
}

.add_footer {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    align-items: center;
    margin: 0 auto;
}

.fmain_content p {
    font-size: 16px;
    margin-top: 10px;
}

@media(max-width:700px) {
    .fmain_content {
        flex-direction: column;
        margin: 0 auto;
    }

    .f_copyright {
        flex-direction: column;
    }

    .f_navbar {
        justify-content: space-between;
    }

    .f_brands {
        margin-top: 15px;
    }

    .add_footer {
        margin-bottom: 20px;
    }

}

@media(max-width:550px) {
    .f_navbar {
        flex-direction: column;
    }
}